@import '../../Styles/base/base';

.accounts-container {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap: 10px;
    min-height: 5rem;
    padding: 1rem 0;
    height: auto;
    // box-shadow: var(--primary-box-shadow);
    border-radius: $border-radius-secondary;

    .no-accounts-found{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        color: red;
    }
    &>.accounts-heading-text {
        width: 100%;
        height: 2rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        h2 {
            width: 100%;
            padding-left: 2rem;
            font-size: $font-size-headings-primary;
            color: var(--secondary-font-color);
        }
      
    }
    &>.accounts-selected-text{
        display: flex;
        justify-content: center;
        align-items: center;
        h4{
            span{
                width: auto;
                color: var(--primary-font-color);
                padding: 3px;
                border-radius: 5px;
            }
        }
    }

    &>.accounts-list-cont{
        min-height: 3rem;
        height: 6rem;
        padding-top: 1rem;
        ul.account-ulist-unscrollable{
            height: 100%;
        }
        ul.account-ulist-scrollable{
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
        }
        ul .account-op-det-visible{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 20%;
            height: 2rem;

            &>p {
                width: 40%;
                cursor: pointer;
            }
            &>p.selected-account-color{
                color: var(--secondary-font-color);
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            &>p.unselected-account-color{
                color: var(--gray-font-color);
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            &>div {
                display: flex;
                width: 60%;
                justify-content: flex-start;
                align-items: center;
            }
        }
        ul .account-op-det-hidden{
            display: none;
        }
       
    }
    &>.show-more-text-cont{
        &>p{
            width: 100%;
            /* padding-left: 1rem; */
            height: 2rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            span{
                margin-right: 1rem;
                font-size: $font-size-secondary;
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    &>.add-account-btn-cont{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}