@import '../base/base';

.features-box-container {
    width: 100%;

    &>div {
        height: 20rem;
        width: 100%;
        display: flex;
        justify-content: center;

    }

    &>div:nth-child(3) ,&>div:nth-child(1){
        background-color: var(--tertiary-background-color);

    }

    .features-box-simple-money-tracker,
    .features-box-whole-picture,
    .features-box-painless-budgeting {
        display: flex;
        gap: 2rem;
        width: 80%;

        &>div:nth-child(1) {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 70%;
                border-radius: 30px;
                box-shadow: var(--primary-box-shadow);
            }
        }

        &>div:nth-child(2) {
            display: flex;
            width: 50%;
            gap: 1rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &>div:nth-child(1) {
                width: 100%;
            }

            p {
                font-size: 22px;
                color: var(--dark-gray-font-color);
            }
        }
    }

}